# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
*.sqlite3

# Virtual env
venv/
.env
.venv/

.history/

__pycache__/
*.pyc

*:Zone.Identifier


#Simulation
media/
simulations/
apps/media/
apps/simulations/results/