{% extends "core/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/correspondences.css' %}">
{% endblock %}

{% block content %}
<div class="card">
  <h1 class="page-title">Create New Correspondence</h1>
  
  <form method="post" class="form-block">
    {% csrf_token %}
    <table class="form-table">
      {{ form.as_table }}
    </table>
  
    <div class="form-actions">
      <button type="submit" class="btn">Save Correspondence</button>
      <a class="btn btn-secondary" href="{% url 'correspondences:list' %}">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}