{% extends "core/base.html" %}
{% load static %}

{% block content %}
<h1>{{ correspondence.name }}</h1>

<p>
  Owner :{{ correspondence.owner.username }} | 
  Email: {{ correspondence.owner.email }} <br>
  Status: <strong>
    {% if correspondence.is_public %}(Public){% else %}(Private){% endif %}
  </strong>
</p>


  <a href="{% url 'correspondences:upload' correspondence.id %}"> 📤Upload / Replace entries</a>
  <a href="{% url 'correspondences:delete' correspondence.id %}">🗑️Delete</a>
  <form method="post"
      action="{% url 'publications:request_publication' 'correspondence' correspondence.id %}">
  {% csrf_token %}
  <button type="submit">Publicate</button>
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

</form>


</p>

<table>
  <thead>
    <tr>
      <th>Identifiers</th>
      <th>Display Name</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    {% for e in entries %}
    <tr>
      <td>{{ e.identifier }}</td>
      <td>{{ e.display_name }}</td>
      <td>{{ e.entry_type }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="3">No entries found.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<p>
  <a href="{% url 'correspondences:list' %}">← Back to My correspondence Table</a>
</p>
{% endblock %}