{% extends "core/base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/plasmids.css' %}">
{% endblock %}

{% block title %}My correspondence Table{% endblock %}

{% block content %}
<h1> My correspondence Table</h1>
<a href="{% url 'correspondences:create' %}">📤Create New Correspondence Table📤</a>

{% if correspondences %}
  <p class="text-center">
        {{ correspondences|length }} correspondences available.
  </p>
  <table class="table correspondence-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Entries Count</th>
                <th>Visibility</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for c in correspondences %}
                <tr class="clickable-row" data-href="{% url 'correspondences:detail' c.pk %}">
                    <td>{{ c.name }}</td>
                    <td>{{ c.entries.count }}</td>
                    <td>
                        {% if c.is_public %}
                            <span class="badge bg-success">Public</span>
                        {% else %}
                            <span class="badge bg-secondary">Private</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'correspondences:delete' c.id %}">🗑️</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const rows = document.querySelectorAll(".clickable-row");
            rows.forEach(row => {
                row.addEventListener("click", function() {
                    window.location.href = this.dataset.href;
                });
            });
        });
    </script>

{% else %}
<p>No correspondences found.</p>
{% endif %}
{% endblock %}
