{% extends "core/base.html" %}
{% load static %}

{% block title %}My correspondence Table{% endblock %}

{% block content %}
<h1> My correspondence Table</h1>
<a href="{% url 'correspondences:create' %}">📤Create New Correspondence Table📤</a>

{% if correspondences %}
<ul>
  {% for c in correspondences %}
    <li>
      <a href="{% url 'correspondences:detail' c.pk %}">{{ c.name }}</a>

      - Entries: {{ c.entries.count }}
      {% if c.is_public %}
        (Public)
      {% else %}
        (Private)
      {% endif %}
      <a href="{% url 'correspondences:delete' c.id %}">🗑️</a>
    </li>
    
  {% endfor %}
</ul>
{% else %}
<p>No correspondences found.</p>
{% endif %}
{% endblock %}
