{% if plasmids %}
    <p class="text-center">
        {{ plasmids|length }} plasmids in this collection.
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Identifier</th>
                <th>Length</th>
            </tr>
        </thead>
        <tbody>
            {% for plasmid in plasmids %}
                <tr class="clickable-row"
                    data-href="{% url 'plasmids:plasmid_detail' plasmid.identifier %}">
                    <td>{{ plasmid.name }}</td>
                    <td>{{ plasmid.identifier }}</td>
                    <td>{{ plasmid.length }} bp</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p class="text-center text-muted">
        This collection is currently empty.
    </p>
{% endif %}
