{% extends "core/base.html" %}
{% block title %}Plasmids{% endblock %}

{% block content %}

<div style="display:flex; justify-content:space-between; align-items:center;">
    <h1>Plasmid List</h1>

    <a class="btn" href="{% url 'plasmids:search' %}">
        Search plasmids
    </a>
</div>

{% if plasmids %}
    <p class="text-center">
        {{ plasmids|length }} plasmids available.
    </p>

    <div class="card">
        <table class="plasmid-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Length</th>
                    <th>Collection</th>
                </tr>
            </thead>
            <tbody>
                {% for plasmid in plasmids %}
                    <tr class="clickable-row"
                        data-href="{% url 'plasmids:plasmid_detail' plasmid.identifier %}">
                        <td>{{ plasmid.name }}</td>
                        <td>{{ plasmid.length }} bp</td>
                        <td>
                            {{ plasmid.collection.name }}
                            {% if plasmid.collection.is_public %}
                                <span class="badge bg-success">Public</span>
                            {% else %}
                                <span class="badge bg-secondary">Private</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
    document.addEventListener("DOMContentLoaded", function() {
        document.querySelectorAll(".clickable-row").forEach(row => {
            row.addEventListener("click", () => {
                window.location = row.dataset.href;
            });
        });
    });
    </script>

{% else %}
    <p class="text-center text-muted">
        Aucun plasmide trouvé
    </p>
{% endif %}

{% endblock %}
